body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
    margin-top: 80px; /* Adjust this value as needed based on the height of your header */
}

.feedback-container {
    display: flex;
    flex-wrap: wrap;
}

.feedback-item {
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.feedback-item h3 {
    margin-top: 0;
}

.feedback-item p {
    margin-bottom: 0;
}
